%a{href: "{{=url('main.welcome')}}"}
  = T("Home")

%a{href: "{{=url('admin.users')}}"}
  = T("Users")

- if not current_user
  %a{href: "{{=url('main.account', 'login')}}", id: "navbar-login"}
    = T("Login")
- else
  %a{href: "{{=url('user.profile', current_user.id)}}"}
    = T("Profile")

  %a{href: "{{=url('main.account', 'logout')}}"}
    = T("Logout")